version: '3.9'

services:
  frontend-dev:
    profiles: ['dev']
    build:
      context: .
      target: dev
    ports:
      - '80:80'
    volumes:
      - .:/app
      - frontend-node-modules:/app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: '1'
    command: ['npm', 'run', 'dev', '--', '--host', '0.0.0.0', '--port', '80']

  frontend-prod:
    profiles: ['prod']
    build:
      context: .
      target: prod
    ports:
      - '80:80'
      - '443:443'

volumes:
  frontend-node-modules:
